body{
    display: grid;
    grid-template-columns: minmax(150px, 15%) 1fr;
    padding: 0;
    margin: 0;
    font-size: x-large;
    text-align: center;
  }
    .sidebar {
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #333;
        padding-top: 20px;
        font-size: 2rem;
        text-align: center;
      }
      .sidebar a {
        display: block;
        color: white;
        padding: 16px;
        text-decoration: none;
      }
      .sidebar a:hover {
        background-color: #575757;
      }
      .main-content {
        padding: 2rem;
        margin: 0 auto;
      }
      table {
        border-collapse: collapse;
      }
      td, th {
        border: 1px solid #999;
        padding: 0.5rem;
        text-align: left;
      }
    
    /* Gallery Container */
    
    .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 900px;
    margin: auto;
    
    }
    
    /* Gallery Items */
    
    .gallery-item {
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    }
    
    .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    }
    p{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }